/* Add margin and padding to override any defaults */
body {
    background: skyblue;
    margin: 0;
    padding: 0;
}

#weatherHeader {    
    text-align: center;
    padding-bottom: 7px;
    background-color: rgb(145, 201, 145);
    color: white;
    margin-top: 10px;
    font-size: 75px;
    width: 100%;
}

.row {
    padding-right: 12px;
    padding-left: 12px;
    }

.searchCol {
    background-color: lightgrey;
}


h3, h4, h5{
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}